body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

/* nav global style */
.nav_container {
    display: flex;
    flex-direction: column;
    background-color: #222;
}

.nav {
    padding: 1rem;
}

/* logo background color */
.logo {
    background-color: #C78C06;
}

/* navigation list style */
.navlist {
    text-align: center;
}

.nav-item {
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: #C78C06;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.nav-item:hover,
.nav-item:focus {
    background-color: #C78C06;
    color: #222;
}

/* search bar style */
.search_container {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
}

#site_search {
    height: 2.5rem;
    width: 100%;
    padding: 1rem;
}

/* hide search */
label[for="site_search"] {
    display: none;
}

.search_button {
    height: 2.5rem;
    width: 2.5rem;
    border: solid 1px #C78C06;
    background-color: #222;
    color: #C78C06;
    font-size: 1rem;
}

/* banner style */
/* banner background */
.main_banner {
    background-color: #222;
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
    position: relative;
    margin: 0 auto;
}

/* mask style and positon */
.toplayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 60px;
    bottom: 60px;
    background-color: #2222229e;
}

/* Welcome to Three Star Media */
.main_banner h1 {
    font-size: 4.5rem;
    color: white;
    font-weight: 600;
    margin: 1rem;
    padding-top: 1.5rem;
}

/* paragraph style */
.main_banner p {
    font-size: 1rem;
    color: white;
    font-weight: 300;
    padding: 0 1rem;
}

/* button style */
.btn_contect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* height: 6rem;
    width: 15rem; */
    width: fit-content;
    background-color: #C78C06;
    border: #C78C06;
    font-size: 1.2rem;
    font-weight: 300;
    color: #222;
    margin: 1rem;
    padding: 2rem;
}

/* About framework */
#about_container {
    background-color: #FFE6AC;
    width: 100%;
}

/* about content layout */
.about_content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 100%;
    padding: 1rem;
}

/* about img */
.about_content img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* About Us */
.about_text h2 {
    font-size: 3rem;
    color: #222;
    font-weight: 600;
    margin-top: 1rem;
}

/* about paragraph style*/
.about_text p {
    font-size: 0.8rem;
    color: #222;
    font-weight: 400;
    margin: 0.8rem 0;
}

/* serveices framework */
#services_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 1rem;
    margin: 1rem;
}

.services_items {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

/* services content layout */
.services_item {
    display: flex;
    flex-direction: column;
    background-color: #FFE6AC;
    /* margin-bottom: 1rem; */
}

/* services text layout */
.services_text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

/* Our Sevices */
.services_content h2 {
    font-size: 3rem;
    color: #222;
    font-weight: 600;
    margin-top: 2rem;
}

/* Digital transportation / Marketing / Video Production / Web Development / Print  */
.services_content h3 {
    font-size: 2rem;
    color: #222;
    font-weight: 600;
    margin-top: 1rem;
}

.services_content p {
    font-size: 0.8rem;
    color: #222;
    font-weight: 400;
}

.services_content button {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: fit-content;
    background-color: #222;
    border: #222;
    font-size: 1.2rem;
    color: white;
}

/* vision banner framework */
.banner_container {
    display: flex;
    flex-direction: column;
    background-color: #C78C06;
    background-image: url(../images/vision.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: fit-content;
    margin: 0 auto;
}

/* vision banner layout */
.banner_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem;
}

/* Our Vision */
.banner_content h2 {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    margin-top: 1rem;
}

.banner_content p {
    font-size: 0.8rem;
    color: white;
    font-weight: 400;
    padding: 1rem 0;
}

.banner_content button {
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 1rem;
    padding: 2rem;
    background-color: #0000009f;
    border: #C78C06 solid 1px;
    font-size: 1.2rem;
    color: white;
}

/* team framework */
#team_container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.team_content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

/* team cards layout */
.team_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFE6AC;
}

.team_text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* our team */
.team_content h2 {
    font-size: 3rem;
    color: #222;
    font-weight: 600;
}

/* John Doe */
/* Bob Rite */
.team_content h3 {
    font-size: 2rem;
    color: #222;
    font-weight: 600;
}

/* CEO and Co-owner */
/* CFO and Co-owner */
.team_content h4 {
    font-size: 1rem;
    color: #222;
    font-weight: 600;
}

.team_content p {
    font-size: 0.8rem;
    color: #222;
    font-weight: 400;
    margin-bottom: 0.8rem;
}

/* line style */
.line {
    border: #bc8b2c solid 1px;
    width: 100%;
    height: auto;
    margin-top: 2px;
}


/* contact framework */
#contact_container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.contact_content {
    display: flex;
    flex-direction: column;
}

.form_item {
    display: block;
}

/* contact us */
.contact_content h2 {
    font-size: 3rem;
    color: #222;
    font-weight: 600;
    /* margin-bottom: 1rem; */
}

/* send us a message */
/* hours of operation */
/* lacation */
.contact_content h3 {
    font-size: 2rem;
    color: #222;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

/* form style */
input,
textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
}

textarea {
    height: 8rem;
}

label {
    font-size: 0.8rem;
    color: #222;
    font-weight: 400;
}

/* submit button */
.submit {
    background-color: #222;
    font-size: 1.2rem;
    color: #bc8b2c;
}

/* table style */
.table_content {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "days hours"
        "weekdays opened"
        "weekend closed";
    border: #222 solid 0.5px;
}

.table_content :nth-child(1) {
    grid-area: days;
    background-color: #FFE6AC;
    text-align: center;
}

.table_content :nth-child(2) {
    grid-area: hours;
    background-color: #FFE6AC;
    text-align: center;
}

.table_content :nth-child(3) {
    grid-area: weekdays;
}

.table_content :nth-child(4) {
    grid-area: opened;
}

.table_content :nth-child(5) {
    grid-area: weekend;
}

.table_content :nth-child(6) {
    grid-area: closed;
}

.head,
.body {
    font-size: 0.8rem;
    border: #222 solid 0.5px;
    padding: 0.8rem;
}

/* footer sytle */
footer {
    height: 120px;
    padding: 2rem;
    background-color: #222;
    color: #bc8b2c;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
}

footer a {
    color: #bc8b2c;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
}


@media screen and (min-width:760px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    /* navigation layout */
    .nav_container {
        display: flex;
        flex-direction: row;
    }

    .nav {
        display: flex;
        flex-direction: row;
        /* height: 120px; */
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
    }

    .nav_content,
    .navlist ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        gap: 1rem;
    }

    .nav-item {
        padding: 1rem;
        text-align: center;
        width: 8rem;
    }

    .nav img {
        width: 60px;
        margin: 1rem 0;
    }

    .logo {
        margin-right: 13rem;
        background-color: #222;
    }

    .search_container {
        width: 200px;
        justify-self: end;
    }

    /* main banner layout */
    .main_banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .toplayer {
        max-width: 1200px;
    }

    /* about us layout */
    .about_content {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
    }

    .about_content img {
        width: 50%;
        margin-right: 1rem;
        padding: 1rem 0 1rem;
    }

    /* services layout */
    #services_container {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
    }

    .services_items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1.2fr 0.8fr;
        gap: 1rem;
    }

    .services_items :nth-child(1) {
        grid-column: 1 / span 3;
        grid-row: 1/ span 1;

    }

    .services_items :nth-child(2) {
        grid-column: 4 / span 3;
        grid-row: 1/ span 1;
    }

    .services_items :nth-child(3) {
        grid-column: 1 / span 2;
        grid-row: 2/ span 1;
    }

    .services_items :nth-child(4) {
        grid-column: 3 / span 2;
        grid-row: 2/ span 1;
    }

    .services_items :nth-child(5) {
        grid-column: 5 / span 2;
        grid-row: 2/ span 1;
    }

    /* services button width */
    .services_content button {
        width: 100%;
    }

    /* second banner layout */
    .banner_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .banner_content {
        max-width: 1200px;
    }

    /* team section layout */
    #team_container {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 2rem auto;
    }

    .team_content {
        margin: 0;
    }

    .team_item {
        display: flex;
        flex-direction: row;
    }

    .team_item2 {
        display: flex;
        flex-direction: row-reverse;
    }

    .team_item img {
        width: 50%;
    }

    /* contact layout */
    .contact_content {
        max-width: 1200px;
        margin: 1rem auto;
    }

    .contact_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2.5fr 1fr;
        gap: 1rem;
    }

    /* form */
    .contact_grid :nth-child(1) {
        grid-column: 1/span 2;
        grid-row: 1/span 1;
    }

    /* table */
    .contact_grid :nth-child(2) {
        grid-column: 1/span 4;
        grid-row: 2/span 1;
    }

    /* map */
    .contact_grid :nth-child(3) {
        grid-column: 3/span 2;
        grid-row: 1/span 1;
    }

    /* redefine table style */
    .table-content {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "days hours"
            "weekdays opened"
            "weekend closed";
        border: #222 solid 0.5px;
    }

    .table_content :nth-child(1) {
        grid-area: days;
        background-color: #FFE6AC;
        text-align: center;
    }

    .table_content :nth-child(2) {
        grid-area: hours;
        background-color: #FFE6AC;
        text-align: center;
    }

    .table_content :nth-child(3) {
        grid-area: weekdays;
    }

    .table_content :nth-child(4) {
        grid-area: opened;
    }

    .table_content :nth-child(5) {
        grid-area: weekend;
    }

    .table_content :nth-child(6) {
        grid-area: closed;
    }

    .footer_content {
        max-width: 1200px;
        margin: 0 auto;
    }
}